@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
* {
    font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: 400;
}
:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #318E94;
    --secondary: #0038FF;
    --third: #00B2FF;
    --thirdLight: #664DFF;
  }
  body{
      background-color: #9DC0F4;
    }
  header {
    display: flex;
    border-bottom: 0.5rem solid var(--secondary);
  }
  header picture img {
    height: 6rem;
  }
  header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  header ul li {
    margin: 0 1rem;
  }
  header ul li a {
    text-decoration: none;
    color: var(--black);
  }

footer {
    background-color:var(--secondary);
    height: 4rem;
    display: flex;
    align-items: center;
}
